html {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: rgba(0,0,0,0.87);
  scroll-behavior: smooth;
}

main#spapp h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
  text-align:center;
}

body {
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 250px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
}

li {
  float: left;
  padding: 14px 16px;
}

li a {
  display: block;
  color: #0000b3;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  color: #8080ff;
}

.name {
  font-size: 3em;
  margin-top: -10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.rest {
  padding-left: 700px;
  padding: 18px 16px;
  float: right;
}

.picture {
  float: left;
}

.text {
  font-size: 18px;
  padding-top: 50px;
  padding-left: 50px;
}

.project_description {
  padding-left: 30px;
}

.project_description p {
  margin-top: -20px;
}

.project_description a {
  color: #4d4dff;
  text-decoration: none;
}

.headline {
  padding-top: 120px;
  padding-left: 18px;
}

main#spapp > section#projects { margin-top: -140px;}
main#spapp > section#error_404 { background:white; color:#fff; }

 @media only screen and (max-width: 800px) {
   nav {
      margin-bottom: -20px;
   }

   body {
     margin-top: 0;
     margin-left: 15px;
     margin-right: 15px;
     padding-right: 15px;
     padding-left: 15px;
     font-size: 0.8em;
   }
   .name {
     font-size: 1.5em;
   }

   .rest {
     padding-left: 700px;
     padding: 18px 16px;
     float: right;
   }

   img {
     width: 50%;
     height: 50%;
   }

   .picture {
     text-align: center;
   }

   .name {
     margin-top: 10px;
   }

   .rest {
     float: left;
     margin-left: -14px;
   }

   .text {
     font-size: 1.1em;
     padding-right: 15px;
     padding-left: 15px;
   }
 }
